<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Twitter Heatmap</title>
		<link rel="stylesheet" href="/static/css/leaflet.css">
		<link rel="stylesheet" href="/static/css/style.css">
		<script src="/static/js/widgets.js"></script>
	</head>

	<body>
		<div id="map"></div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/static/js/leaflet-src.js"></script>
		<script src="/static/js/QuadTree.js"></script>
		<script src="/static/js/heatmap.js"></script>
		<script src="/static/js/heatmap-leaflet.js"></script>
		<script src="/static/js/script.js"></script>
	</body>
</html>
